*{
  margin: 0;
  padding: 0;
}
.loader{
  position: fixed;
  top: 0;
  left: 0;
  background-color: blanchedalmond;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}
/* to hide loader with animation, I created this class and will use in js file */
.disappear{
  animation: vanish 1s forwards;
}
@keyframes vanish {
  100%{
  opacity: 0;
  visibility: hidden;
  }

}
